.answerIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    // height: 0px;
    top: 100px;
}

.correctAnswer{
    font-size: 400%;
    font-weight: bold;
    color: #0000ff;
}

.circleLine{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align:center;
    line-height: 80px;
    border-radius: 50%;
    border: solid 10px #ff0000;
    }



.incorrectAnswer{
    display: inline-block;
    vertical-align: middle;
    color: #0000ff;
    line-height: 5;
    width: 120px;
    height: 0.6em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    top: 50px;
    transform: rotate(45deg);
  }
  
  .incorrectAnswer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }