@import "../../../styles/color";
.answerIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // height: 0px;
  top: 0px;
  color: $text;
}

.correctAnswer {
  font-size: 400%;
  font-weight: bold;
  color: #0000ff;
}

.circleLine {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  border: solid 10px #ff0000;
}

.box {
  display: inline-table;
  width: 50px;
  height: 110px;
  position: relative;
}

.incorrectAnswer {
  display: inline-block;
  vertical-align: middle;
  color: #0000ff;
  line-height: 5;
  width: 120px;
  height: 0.6em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  top: 40px;
  transform: rotate(45deg);
}

.incorrectAnswer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.outerFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 325px;
  border-top: 1px solid #094067;
  border-bottom: 1px solid #094067;
  color: $text;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 325px;
  color: $text;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10px;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10px;
}

.character {
  margin-top: 20px;
}

.nextButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
}
