<div *ngIf='isAnswer; else Statement' class="answerIcon">

    <div>
        <h1>正解</h1>
    </div>

    <div>
        <span class="circleLine"></span>
    </div>

</div>

<ng-template #Statement>
    <div class="answerIcon">
        <div>
            <h1>不正解</h1>
        </div>

        <div class="box">
            <div class="incorrectAnswer"></div>
        </div>
    </div>
</ng-template>

<div class="center">

    <div class="outerFrame">
        <p>豆知識</p>
    </div>

    <div class="explanation">
        {{explanation}}
    </div>

</div>

<div class="character">
  <app-character [text]="quizService.quiz.comment"></app-character>
</div>


<div class="outer">

    <div class="nextButton">

      <app-button [text]="'終了'" (btnClick)="resultPage($event)"></app-button>
      <app-button [text]="'次へ'" (btnClick)="nextPage($event)"></app-button>

    </div>

</div>
